/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}
h2 {
  font-size: 3.2rem;
  margin-bottom: 10px;
}
h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
h4 {
  font-size: 1.8rem;
  margin: 10px 0 5px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    width: 96%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 96%;
  }
}
section {
  margin-top: 15px;
}
.row {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.row .col-lg-1 {
  width: 22%;
}
.row .col-lg-1 h3 {
  margin-top: 15px;
}
.row .col-lg-2 {
  width: 48%;
}
.row .col-lg-3 {
  width: 74%;
}
.row .col-lg-4 {
  width: 100%;
}
.row .col-lg-offset-1 {
  margin-left: 26%;
}
@media (max-width: 800px) {
  .row .col-md-2 {
    width: 48%;
  }
  .row .col-md-4 {
    width: 100%;
    margin-bottom: 25px;
  }
  .row .col-md-4 img {
    float: left;
    margin-right: 4%;
    width: 22%;
  }
}
@media (max-width: 500px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .row .col-sm-4 {
    max-width: 300px;
    width: 100%;
  }
  .row .col-sm-4 .col-img {
    float: none;
    margin-right: 0;
    width: 100%;
  }
}
@media (max-width: 500px) {
  #rev {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
/*
header {
    width: 100%;;
    height: 100vh;
    background-image: url("../img/people-on-laptops.jpg");
    background-repeat: no-repeat;
    background-position: top;
    //background-size: contain;
    @media @phone {
        background-image: none;
        height: 100%;
    }
}
*/
.navbar {
  width: 100%;
}
.navbar .topnav {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .topnav .logo {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .topnav .logo .fa-bookmark {
  font-size: 5rem;
  margin-right: 8px;
}
.navbar .topnav .logo .logo-git {
  font-size: 5rem;
  font-family: 'Roboto';
  font-weight: 300;
}
.navbar .topnav .logo .logo-book {
  font-size: 5rem;
  font-family: 'Roboto';
  font-weight: 800;
}
@media (max-width: 800px) {
  .navbar .topnav {
    width: 96%;
  }
}
@media (max-width: 500px) {
  .navbar .topnav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .navbar .topnav img {
    margin: 10px 0;
  }
}
.navbar .topnav nav {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .navbar .topnav nav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .navbar .topnav nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
.navbar .topnav nav a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  .navbar .topnav nav a {
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid black;
  }
}
.navbar .topnav nav a:last-child {
  padding: 5px 15px;
  border: 1px solid #003459;
  background-color: #00171f;
  font-size: 1.6rem;
  color: #FFFFFF;
  border-radius: 5px;
}
.navbar .topnav nav a:last-child:hover {
  background-color: #00a8e8;
  color: #000;
}
@media (max-width: 500px) {
  .navbar .topnav nav a:last-child {
    border-radius: 0px;
    border-left: none;
    border-right: none;
    padding: 10px 0;
  }
}
.navbar .topnav nav a:last-child i {
  margin-right: 5px;
}
footer {
  background-color: #eee;
  margin-top: 15px;
}
footer .subscribe {
  width: 100%;
  background-color: darkgrey;
  height: 60px;
}
@media (max-width: 500px) {
  footer .subscribe {
    height: 100%;
    padding: 15px 0;
  }
}
footer .subscribe .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
footer .subscribe form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  footer .subscribe form {
    width: 100%;
  }
}
@media (max-width: 500px) {
  footer .subscribe form {
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
footer .subscribe form label {
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  footer .subscribe form label {
    margin-bottom: 10px;
  }
}
footer .subscribe form input[type=text] {
  height: 35px;
  width: 40%;
}
@media (max-width: 500px) {
  footer .subscribe form input[type=text] {
    margin-bottom: 10px;
    width: 100%;
  }
}
footer .subscribe form button {
  border: 1px solid #003459;
  background-color: #00171f;
  font-size: 1.6rem;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px 15px;
}
footer .subscribe form button:hover {
  background-color: #00a8e8;
  color: #000;
}
footer .footer-nav {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-nav .logo {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-nav .logo .fa-bookmark {
  font-size: 5rem;
  margin-right: 8px;
}
footer .footer-nav .logo .logo-git {
  font-size: 5rem;
  font-family: 'Roboto';
  font-weight: 300;
}
footer .footer-nav .logo .logo-book {
  font-size: 5rem;
  font-family: 'Roboto';
  font-weight: 800;
}
@media (max-width: 800px) {
  footer .footer-nav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  footer .footer-nav {
    width: 100%;
  }
}
footer .footer-nav nav {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  footer .footer-nav nav {
    width: 80%;
  }
}
@media (max-width: 500px) {
  footer .footer-nav nav {
    width: 80%;
  }
}
footer .footer-nav nav a {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
}
header {
  text-align: center;
  padding: 4% 0;
}
header h1 {
  margin-bottom: 2%;
  font-weight: 700;
}
@media (max-width: 500px) {
  header h1 {
    margin: 30px 0;
    font-size: 3rem;
  }
}
.anim-frame {
  max-width: 800px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ebedf0;
  margin: 0 auto;
}
.anim-frame .anim {
  padding: 5px;
  width: 796px;
  height: 110px;
  margin: 0 auto;
}
.anim-frame .anim .sq {
  margin: 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.anim-frame .anim .sq div {
  width: 12px;
  height: 12px;
  background-color: #ebedf0;
}
.anim-frame .anim .sq .bg-dg {
  background-color: #196127;
}
.anim-frame .anim .sq .bg-gr {
  background-color: #239a3b;
}
.anim-frame .anim .sq .bg-lg {
  background-color: #7bc96f;
}
.anim-frame .anim .sq .bg-li {
  background-color: #c6e48b;
}
.anim-frame .anim .sq .dg {
  animation: dg 15s infinite;
}
.anim-frame .anim .sq .li {
  animation: li 12s infinite;
}
.anim-frame .anim .sq .gr {
  animation: gr 9s infinite;
}
.anim-frame .anim .sq .lg {
  animation: lg 7s infinite;
}
@keyframes dg {
  0% {
    background: #ebedf0;
  }
  25% {
    background: #ebedf0;
  }
  50% {
    background: #196127;
  }
  100% {
    background: #ebedf0;
  }
}
@keyframes gr {
  0% {
    background: #239a3b;
  }
  25% {
    background: #ebedf0;
  }
  50% {
    background: #ebedf0;
  }
  100% {
    background: #ebedf0;
  }
}
@keyframes lg {
  0% {
    background: #ebedf0;
  }
  25% {
    background: #7bc96f;
  }
  50% {
    background: #ebedf0;
  }
  100% {
    background: #ebedf0;
  }
}
@keyframes li {
  0% {
    background: #ebedf0;
  }
  25% {
    background: #ebedf0;
  }
  50% {
    background: #c6e48b;
  }
  100% {
    background: #ebedf0;
  }
}
@media (max-width: 500px) {
  section h2 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  section h3 {
    margin: 15px 0 10px;
  }
}
.team {
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.team .member {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.team .member img {
  width: 100%;
  max-width: 180px;
  height: auto;
  border-radius: 50%;
}
.team .member h3 {
  margin-top: 15px;
  font-weight: bold;
}
.team .member i {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .team .member i {
    font-size: 4.5rem;
  }
}
.team .member .fa-linkedin {
  color: #0e76a8;
}
.team .member .fa-github-square {
  color: #333333;
}
.team .member .fa-twitter-square {
  color: #00acee;
}
.contact-us label {
  font-size: 1.5rem;
  display: block;
  margin: 10px 0 3px;
}
@media (max-width: 500px) {
  .contact-us label {
    text-align: center;
  }
}
.contact-us input[type=text] {
  width: 90%;
  height: 35px;
}
@media (max-width: 800px) {
  .contact-us input[type=text] {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .contact-us input[type=text] {
    width: 100%;
  }
}
.contact-us textarea {
  width: 90%;
  display: block;
  height: 120px;
}
@media (max-width: 800px) {
  .contact-us textarea {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .contact-us textarea {
    width: 100%;
  }
}
.contact-us button {
  margin-top: 3px;
  padding: 5px 15px;
  border: 1px solid #003459;
  background-color: #00171f;
  font-size: 1.6rem;
  color: #FFFFFF;
  border-radius: 5px;
}
.contact-us button:hover {
  background-color: #00a8e8;
  color: #000;
}
@media (max-width: 500px) {
  .contact-us .send {
    text-align: center;
  }
}
.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 100%;
}
@media (max-width: 800px) {
  .mapouter {
    width: 100%;
    height: 300px;
  }
}
.gmap_canvas {
  overflow: hidden;
  background: none!important;
  height: 100%;
  width: 100%;
}
.gmap_canvas iframe {
  height: 100%;
  width: 100%;
}
