/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 4rem;
  padding-bottom: 10px;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.row .col-lg-1 {
  width: 22%;
}
.row .col-lg-2 {
  width: 48%;
}
.row .col-lg-3 {
  width: 74%;
}
.row .col-lg-4 {
  width: 100%;
}
.row .col-lg-offset-1 {
  margin-left: 26%;
}
@media (max-width: 800px) {
  .row .col-md-2 {
    width: 48%;
  }
  .row .col-md-4 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .row .col-sm-4 {
    width: 100%;
  }
}
.navbar {
  width: 100%;
}
.navbar .topnav {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .navbar .topnav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .navbar .topnav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .navbar .topnav img {
    margin: 10px 0;
  }
}
.navbar .topnav nav {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .navbar .topnav nav {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .navbar .topnav nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
.navbar .topnav nav a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  .navbar .topnav nav a {
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid black;
  }
}
.navbar .topnav nav a:last-child {
  border: 1px solid black;
  padding: 8px 20px;
  background-color: lightgrey;
  border-radius: 5px;
}
.navbar .topnav nav a:last-child i {
  margin-right: 5px;
}
footer {
  background-color: #eee;
}
footer .subscribe {
  width: 100%;
  background-color: darkgrey;
  height: 60px;
}
footer .subscribe .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
footer .subscribe form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-nav {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  footer .footer-nav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  footer .footer-nav {
    width: 100%;
  }
}
footer .footer-nav nav {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  footer .footer-nav nav {
    width: 80%;
  }
}
footer .footer-nav nav a {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
}
.team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.team .member {
  width: 25%;
}
.team .member .fa-linkedin {
  color: #0e76a8;
}
.team .member .fa-github-square {
  color: #333333;
}
.team .member .fa-twitter-square {
  color: #00acee;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 1000px;
}
@media (max-width: 800px) {
  .mapouter {
    width: 100%;
  }
}
.gmap_canvas {
  overflow: hidden;
  background: none!important;
  height: 500px;
  width: 1000px;
}
@media (max-width: 800px) {
  .gmap_canvas {
    width: 100%;
  }
}
