footer {
    background-color: #eee;
    margin-top: 15px;
    border-top: 15px solid darkgrey;

    .footer-nav {
        width: 1000px;
        height: 200px;
        margin: 0 auto;

        .flex(column,space-around);
        .logo {
            .logo();
        }

        @media @tablet {
            width: 100%;
        }

        @media @phone{
            width: 100%;

        }

        nav {
            width: 30%;
            .flex(row,space-between);

            @media @tablet {
                width: 80%;
            }
            @media @phone{
                width: 80%;
            }

            a {
                text-decoration: none;
                font-size: 1.8rem;
                color: black;
            }
        }
    }
}