section {
    .frame {
        height: 214px;
        .flex(column,center);
    }
    h2 {
        @media @phone {
            text-align: center;
        }
    }
    h3 {
        @media @phone {
            margin: 15px 0 10px;
        }
    }
}
.team {
    padding: 60px 0;
   .flex(row, space-evenly);

    .member {
        margin: 25px 0;
        .flex(column, space-evenly);

        img {
            width: 100%;
            max-width: 180px;
            height: auto;
            border-radius: 50%;
        }

        h3 {
            margin-top:15px;
            font-weight: bold;
        }
        
        i {
            font-size: 2.5rem;
            @media @phone {
                font-size: 4.5rem;
            }
        }
        .fa-linkedin{
            color: #0e76a8;
        }

        .fa-github-square{
            color: #333333;
        }

        .fa-twitter-square{
            color: #00acee;
        }
    }
}

.contact-us {

    label {
        font-size: 1.5rem; 
        display: block;
        margin: 10px 0 3px;

        @media @phone {
            text-align: center;
        }
    }

    input[type=text] {
        width: 90%;
        height: 35px; 
        @media @tablet {
            width: 100%;
        }
        @media @phone {
            width: 100%;
        }
    }

    textarea {
        width: 90%;
        display: block;
        height: 120px;
        @media @tablet {
            width: 100%;
        }
        @media @phone {
            width: 100%;
        }
    }

    button {
        margin-top:3px;
        .btn(@white, @darker-blue, @dark-blue, @black, @light-blue);
    }
    

    .send{
        @media @phone {
            text-align: center;
        }
        
    }
}