.team {
    padding: 60px 0;
   .flex(row, space-evenly);
  // flex-wrap: no-wrap;

    .member {
        margin: 25px 0;
        .flex(column, space-evenly);

        img {
            width: 100%;
            max-width: 180px;
            height: auto;
            border-radius: 50%;
        }

        h3 {
            margin-top:15px;
            font-weight: bold;
        }
        
        i {
            font-size: 2.5rem;
        }
        .fa-linkedin{
            color: #0e76a8;
        }

        .fa-github-square{
            color: #333333;
        }

        .fa-twitter-square{
            color: #00acee;
        }
    }
}

.contact-us {

    label {
        font-size: 1.5rem; 
        display: block;
        margin: 10px 0 3px;

        @media @phone {
            text-align: center;
        }
    }

    input[type=text] {
        width: 90%;
        height: 35px; 

        @media @phone {
            width: 100%;
        }
    }

    textarea {
        width: 90%;
        display: block;
        height: 120px;

        @media @phone {
            width: 100%;
        }
    }

    button {
        margin-top: 3px;
        padding:5px 15px 

    }

    .send{
        @media @phone {
            text-align: center;
        }
        
    }
}