/*
header {
    width: 100%;;
    height: 100vh;
    background-image: url("../img/people-on-laptops.jpg");
    background-repeat: no-repeat;
    background-position: top;
    //background-size: contain;
    @media @phone {
        background-image: none;
        height: 100%;
    }
}
*/
.anim {
    width: 786px;
    height: 100px;
    margin:0 auto;
    .sq {
        margin: 2px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        div {
            width: 12px;
            height: 12px;
            background-color: #ebedf0;
        }
        .dg {
            animation: dg 10s infinite;
        }
        @keyframes dg {
            0%   {background: #ebedf0;}
            25%  {background: #ebedf0;}
            50%  {background: #196127;}
            100%  {background: #ebedf0;}
        }
    }
}
.navbar {
    width: 100%;
    
    .topnav {
        width: 1000px;
        margin:0 auto;
        .flex(row,space-between);

        .logo {
            .logo();
        }

        @media @tablet {
            width: 96%;
            
        }

        @media @phone{
            width: 100%;
           .flex(column, space-around);
          
           img {
               margin: 10px 0;
           }
        }

        nav {
            width: 60%;
            .flex(row,space-between);
            
            @media @tablet {
                width: 100%;
                
            }

            @media @phone {
                width: 100%;
                .flex(column, space-evenly);
                text-align: center;
            }

            a {
                font-size: 2rem;
                text-decoration: none;
                color: black;

                @media @phone{
                    padding: 10px 0;
                    width: 100%;
                    border-top: 1px solid black;
                    
                }
            }
    
            a:last-child {
                .btn(@white, @darker-blue, @dark-blue, @black, @light-blue);
                
                @media @phone {
                    border-radius: 0px;
                    border-left: none;
                    border-right: none;
                    padding: 10px 0;
                }
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

